body {
background-color: #2908c01a;
font-family: Helvetica, Arial, sans-serif;
color: #333;
}

nav {
background-color: #222;
padding: 10px;
}

nav a {
color: white;
margin-right: 15px;
text-decoration: none;
}

.section {
background-color: rgba(255, 255, 255, 0.816);
padding: 20px;
margin: 20px;
border-radius: 8px;
}
``